[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open Terminal
Icon=utilities-terminal
Exec=foot
Terminal=false
Categories=System;TerminalEmulator;