[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=A fast, lightweight and minimalistic Wayland terminal emulator
Icon=utilities-terminal
Exec=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;