[Desktop Entry]
Type=Application
Name=Google Chrome
Comment=Browse the Web
Icon=google-chrome
Exec=google-chrome-stable --no-sandbox --disable-dev-shm-usage --disable-gpu-sandbox
Terminal=false
Categories=Network;WebBrowser;